# Hugo build output
/public/
/resources/
/mtguardcyber/public/
.hugo_build.lock
# Hugo modules (downloaded Go deps)
hugo_stats.json
#/modules/
#go.sum
#go.mod

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE-specific
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# other files
/www/